a {
    font-family: "Apercu Pro";
    font-weight: bold;
    font-size: 50px;
}

.Click {
    margin-left: 100px;
}

.ModuleMenu {
    margin-left: 20px;
    height: 400px;
    width: 300px;
    background-color: cadetblue;
}

span {
    font-family: "GOST Type AU";
    font-weight: bold;
    font-size: 40px;
}